body {
    margin: 0;
}
.main {
    width: 80%;
    margin: 0 auto;
}
.header {
    background: #7d7c7f;

    padding: 5px 10px;
}
.header p {
    font-size: 20px;
    font-weight: bold;
}
.item {
    height: 122px;
    border: 1px solid rgba(204,204,204,0.45);
    margin-right: 0;
}


.item .title {
    font-size: 18px;
    font-weight: bolder;
    float: left;
    width: 100px;
    background: rgba(204,204,204,0.45);
    height: 120px;
    margin-bottom: 1px;
    text-align: center;
    line-height: 6em;
}
.item .title:after {
    content: "";
    clear: left;
}
.item .status {
    margin-left: 110px;
    height: 120px;
    padding: 10px 5px;
}

.item .distance {
    width: 20%;
}
.item .distance,
.item .distance p{
    display: inline-block;
}
.item .cblod{
    font-weight: bold;
}

.first p,
.second p{
    margin-bottom: 0px;
    margin-top: 0px;
    display: inline-block;
}
